.playfair {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fonts-loaded-1 body {
  font-family: "LatoSubset", sans-serif;
}

.fonts-loaded-2 body {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 300;
  color: #262A3F;
  background-image: url("assets/img/bg-main-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 100vh;
}

img {
  vertical-align: top;
  width: 100%;
  height: 99%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.dark body {
  color: #fff;
  background-color: #161926;
  background-image: url("assets/img/bg-main-dark.jpg");
}
.dark .main-menu ul li a {
  color: #fff;
}
.dark .main-menu ul li a:after {
  background: -o-linear-gradient(353.27deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
  background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
}
.dark .main-menu ul li a:focus-visible {
  outline-color: #53F3CD;
}
.dark .text-italic {
  color: #689FF2;
}
.dark .btn {
  color: #53F3CD;
}
.dark .btn span::after {
  background-color: #53F3CD;
}
.dark .btn:hover {
  color: #02E0AB;
}
.dark .btn:hover span::after {
  background-color: #02E0AB;
}
.dark .btn:active {
  opacity: 0.7;
}
.dark .btn:focus-visible {
  border: 1px solid #85BBB1;
}
.dark .btn.btn-border {
  border-color: #515773;
}
.dark .btn.btn-border:hover {
  border-color: #02E0AB;
}
.dark #mobile-sidebar {
  background-color: #161926;
}
.dark .mob-menu ul li a {
  color: #fff;
}
.dark .mob-menu ul li a:active {
  color: #fff;
  opacity: 0.5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin: 0 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #53F3CD;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #262A3F;
}
.switch input:focus-visible + .slider {
  border: 1px solid #fff;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a1dddd;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #082F40;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.header-offset {
  height: 30px;
  scroll-behavior: smooth;
}

header {
  height: 80px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  z-index: 200;
  scroll-behavior: smooth;
}
header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}
header #logo .logo-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-left: 14px;
  color: #fff;
}

.header-fixed .header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header-fixed main {
  padding-top: 190px;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 110px;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.main-menu ul a {
  padding: 0 5px;
  font-size: 0.875rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: #262A3F;
  position: relative;
}
.main-menu ul a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 3px;
  width: 0;
  background-color: #F1897B;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.3;
}
.main-menu ul a:hover::after, .main-menu ul a.active::after, .main-menu ul a:focus::after {
  width: 106%;
}
.main-menu ul a:focus-visible {
  outline-color: #f1897b61;
  outline-style: groove;
}
.main-menu ul a.first, .main-menu ul a.second {
  margin-right: 2px;
}

.hamb-wrap {
  display: none;
}

#mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 100;
  scroll-behavior: smooth;
}
#mobile-sidebar.open {
  -webkit-transform: translateY(111px);
  -ms-transform: translateY(111px);
  transform: translateY(111px);
}
#mobile-sidebar.scroll {
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

.mobbar-fixed #mobile-sidebar {
  position: fixed;
  left: 0;
  top: -31px;
  width: 100%;
}
.mobbar-fixed main {
  padding-top: 190px;
}

#shadow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
#shadow.show {
  display: block;
}

.mob-menu ul {
  padding-bottom: 20px;
}
.mob-menu ul li {
  text-align: center;
}
.mob-menu ul li a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 2.5rem;
  padding: 4px 5%;
  color: #515773;
  display: block;
  width: 100%;
}
.mob-menu ul li a:active {
  color: #E4E4E4;
}

@media screen and (max-width: 860px) {
  .main-menu {
    display: none;
  }

  .hamb-wrap {
    display: block;
  }
}
.wrap-first {
  padding: 40px 55% 132px 0;
}
.wrap-first h1 {
  font-size: 2.75rem;
  line-height: 3.25rem;
  margin-bottom: 20px;
}
.wrap-first p {
  margin-bottom: 49px;
  width: 90%;
}

p {
  opacity: 80%;
}

.text-italic {
  color: #85BBB1;
}

.btn {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F1897B;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}
.btn span::after {
  content: "";
  left: 50%;
  bottom: 15px;
  height: 13px;
  width: 97%;
  -webkit-transform: translateX(-44%);
  -ms-transform: translateX(-44%);
  transform: translateX(-44%);
  background-color: #F1897B;
  opacity: 30%;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
}
.btn:hover {
  color: #E54F3A;
}
.btn:hover span::after {
  background-color: #E54F3A;
}
.btn:active {
  opacity: 0.7;
}
.btn:focus-visible {
  outline: none;
  border: 1px solid #F1897B;
  padding-right: 12px;
}

@media screen and (max-width: 1080px) {
  .wrap-first {
    padding-right: 30%;
  }
  .wrap-first p {
    width: 77%;
  }
}
@media screen and (max-width: 860px) {
  .header-fixed main {
    padding-top: 120px;
  }

  main {
    padding-top: 40px;
  }

  .wrap-first {
    padding-bottom: 60px;
  }
  .wrap-first p {
    width: 77%;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  #section-first {
    margin-bottom: 20px;
  }

  .wrap-first {
    padding: 0;
    text-align: center;
  }
  .wrap-first h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .wrap-first p {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  body {
    font-size: 1.1875rem;
  }

  #section-first, #section-second, #section-third, #section-forth, #section-fifth, #section-six, #section-seven, #section-eight, #section-nine {
    margin-bottom: 20px;
  }
}